@font-face {
    font-family: 'anakotmai';
    src: url('../font/anakotmai/anakotmai-medium.eot');
    src: url('../font/anakotmai/anakotmai-medium.eot') format('embedded-opentype'),
        url('../font/anakotmai/anakotmai-medium.woff2') format('woff2'),
        url('../font/anakotmai/anakotmai-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('../font/Sarabun/Sarabun-Light.ttf') format('truetype');
}

html,
body {
    font-family: 'anakotmai' !important;
    /* font-weight: 100 !important; */
    height: 100vh;
    color: black
}

/* profile section */

.profile-image {
    width: 200px;
}

.profile-container {
    /* background-image: url("/img/bg-profile.svg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.profile-wrap {
    height: 100vh;
}

.profile-content {
    line-height: 32px;
    /* color: #636463; */
}

.profile-link {
    font-size: 32px;
}

.profile-bottom {
    /* margin-top: 100px; */
    /* color: #636463; */
}

a {
    color: black;
}

a:hover {
    color: black;
}

time {
    font-style: italic;
    color: #8a8b8a;
}

.description {
    font-family: 'Sarabun' !important;
    line-height: 32px;
    color: #636463;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 0;
}

.wrap-content {
    margin-top: 5%;
}

.content {
    font-family: 'Sarabun' !important;
    font-size: 18px;
    line-height: 42px;
    color: #000000;
}

.post-image {
    width: 100%;
    /* You can set the dimensions to whatever you want */
    /* height: 35%; */
    object-fit: cover;
}

.caption-image {
    font-size: 16px;
    color: #636463;
}

blockquote {
    text-align: center;
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font-size: 54px;
    color: #666;
    text-align: center;
}

.btn-circle {
    width: 54px !important;
    height: 54px !important;
    padding: 6px 0px !important;
    border-radius: 32px !important;
    text-align: center !important;
    font-size: 12px !important;
    border: 1px solid #8a8b8a;
    outline: none !important;
}

.btn-circle:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    outline: 0 !important;
}

.btn-close {
    bottom: 3%;
    right: 5%;
    position: fixed;
    background-color: transparent;
    z-index: 999;
}

.close-symol {
    font-size: 24px !important;
}

.title-sm {
    font-size: 24px;
}

.title-md {
    font-size: 48px;
}

.title-lg {
    font-size: 72px;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-block {
    margin: 0;
}

.navbar-ontop {
    color: rgba(0, 0, 0, 0.5) !important;
    padding: 1rem !important;
    position: absolute !important;
    width: 100%;
    z-index: 99;
}

.custom-nav-link {
    padding: .5rem 1rem;
    padding-bottom: 10px;
    font-size: 48px;
}

hr {
    border: 4px solid orange;
}

/* Iphone 5 */
@media only screen and (max-width: 375px) and (max-height: 667px) {
    .title-md {
        font-size: 32px;
    }
}

/* Iphone X */
@media only screen and (max-width: 375px) and (max-height: 812px) {
    .custom-nav-link {
        font-size: 16px;
    }

    .title-md {
        font-size: 32px;
    }
}

/* Nexus 4 */
@media only screen and (max-width: 384px) and (max-height: 640px) {
    .custom-nav-link {
        font-size: 16px;
    }

    .title-md {
        font-size: 32px;
    }
}

/* 6 inch devices */
@media only screen and (max-width: 414px) {
    .custom-nav-link {
        font-size: 16px;
    }

    .title-md {
        font-size: 32px;
    }
}

/* Ipad */
@media (max-width: 768px) {
    .title-md {
        font-size: 32px;
    }
}

@media (max-width: 765px) {
    .lasted-posts {
        text-align: center;
    }
}