<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{ partial "nav.html" (dict "context" . "pageName" "home") }}
        <div class="container-fluid">
            <div class="row">
                <div name="profile-section" class="profile-container col-lg-12">
                    <div class="profile-wrap display-flex-center">
                        <div class="center-block">
                            <p class="title-md mt-3"> 404 NOT FOUND </p>
                            <div class="profile-bottom">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>