<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{ partial "nav.html" (dict "context" . "pageName" "home") }}
        <div class="container-fluid">
            <div class="row">
                <div name="profile-section" class="profile-container col-lg-12">
                    <div class="profile-wrap display-flex-center">
                        <div class="center-block">
                            <img src="/img/commee.png" class="profile-image rounded-circle">
                            <!-- <p class="title-md mt-3"> Hi, I'm commee ! </p> -->
                            <p class="title-md mt-3"> สวัสดีครับ ผม คอมมี่ ! </p>
                            <p class="profile-content mb-5"> I'm junior developer who love to code and looking for a job. </p>
                            <div class="profile-bottom">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wrap">
                <div class="lasted-posts title-md mb-3">LASTED POSTS</div>
                <div class="row">
                    {{ range first 12 .Data.Pages }}
                    <div class="col-xl-4">
                        <div class="card mb-4 border-0">
                            <a href={{ .Permalink }}><img class="card-img-top" src="{{ .Param "cover" }}"></a>
                            <div class="card-body p-0 ">
                                <div class="title-md mt-3"><a href={{ .Permalink }}>{{ .Title }}</a></div>
                                <time>{{ .Date.Format "02 January 2006 15:04" }}</time>
                                <div class="description mt-3">{{ .Description }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{- partial "footer.html" . -}}
</body>

</html>